<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jun.board.Dao.BoardDao">


 
    <select id="onlyTextWrite" parameterType="HashMap">
        INSERT INTO BOARD_INFORMATION (BOARD_NUMBER,BOARD_TITLE,BOARD_CONTENT,BOARD_WRITER,BOARD_DATE)
        VALUES (BOARD_NUMBER.NEXTVAL, #{boardTitle},#{boardContent},#{userEmail},TO_DATE(#{boardDate},'RRRR/MM/DD HH:MI:SS'))
    </select>


 

</mapper>
