<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jun.board.Dao.BoardDao">


 
    <select id="onlyTextWrite" parameterType="HashMap">
        INSERT INTO BOARD_INFORMATION (BOARD_NUMBER,BOARD_TITLE,BOARD_CONTENT,BOARD_WRITER,BOARD_DATE)
        VALUES (BOARD_NUMBER.NEXTVAL, #{boardTitle},#{boardContent},#{userEmail},TO_DATE(#{boardDate},'RRRR/MM/DD HH:MI:SS'))
    </select>
    
    <select id="imgTextWrite" parameterType="HashMap">
        INSERT INTO BOARD_INFORMATION (BOARD_NUMBER,BOARD_TITLE,BOARD_CONTENT,BOARD_WRITER,BOARD_DATE,BOARD_FILE_NAME,BOARD_FILE_PATH,BOARD_FILE_SIZE,BOARD_FILE_ORIG)
        VALUES (BOARD_NUMBER.NEXTVAL, #{boardTitle},#{boardContent},#{userEmail},TO_DATE(#{boardDate},'RRRR/MM/DD HH:MI:SS'),#{boardFileName},#{boardFilePath},#{boardFileSize},#{boardFileOrig})
    </select>
    
    <select id="boardList" resultType="HashMap">
    	SELECT boardInfo.*, userInfo.USER_NAME
		FROM BOARD_INFORMATION boardInfo, USER_INFORMATION userInfo
		WHERE boardInfo.BOARD_WRITER = userInfo.USER_EMAIL
    </select>
    
    <select id="boardRead" resultType="HashMap" parameterType="Integer">
  		SELECT board.* , userI.USER_NAME
		FROM BOARD_INFORMATION board, USER_INFORMATION userI
		WHERE board.BOARD_NUMBER = #{boardSeq} and board.BOARD_WRITER = userI.USER_EMAIL
    </select>
    
    <select id="boardDelete" parameterType="Integer">
    	DELETE
    	FROM BOARD_INFORMATION
    	WHERE BOARD_NUMBER = #{boardNumber}
    </select>
    
    <select id="getBoardWriter" parameterType="Integer" resultType="String">
    	SELECT BOARD_WRITER
    	FROM BOARD_INFORMATION
    	WHERE BOARD_NUMBER = #{boardNumber}
    </select>

</mapper>
