<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jun.board.Dao.BoardDao">

	<select id="boardBeingCheck" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*)
		FROM BOARD_INFORMATION
		WHERE BOARD_NUMBER = #{boardNumber}
	</select>

	<select id="myWriteCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM BOARD_INFORMATION
		WHERE BOARD_WRITER=#{userEmail}
	</select>

	<select id="myReplyCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM REPLY_INFORMATION
		WHERE REPLY_WRITER=#{userEmail}
	</select>

	<select id="myLikeCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*)
		FROM LIKE_INFORMATION
		WHERE BOARD_NUMBER = #{boardNumber} AND LIKE_WRITER = #{userEmail}
	</select>
	
	<select id="allLikeCount" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*)
		FROM LIKE_INFORMATION
		WHERE BOARD_NUMBER = #{boardNumber}
	</select>
	
	<select id="likeCountPlus" parameterType="Integer">
		UPDATE BOARD_INFORMATION
		SET LIKE_COUNT = LIKE_COUNT+1
		WHERE BOARD_NUMBER =#{boardNumber}
	</select>
	
	<select id="likeCountMinus" parameterType="Integer">
		UPDATE BOARD_INFORMATION
		SET LIKE_COUNT = LIKE_COUNT-1
		WHERE BOARD_NUMBER =#{boardNumber}
	</select>

	<select id="likeInsert" parameterType="HashMap">
		INSERT INTO LIKE_INFORMATION (LIKE_NUMBER,LIKE_WRITER,LIKE_TIME,BOARD_NUMBER)
		VALUES (LIKE_NUMBER.NEXTVAL, #{likeWriter},TO_DATE(#{likeTime},'RRRR/MM/DD HH:MI:SS'),#{boardNumber})
	</select>
	
	<select id="likeDelete" parameterType="HashMap">
		DELETE
		FROM LIKE_INFORMATION
		WHERE BOARD_NUMBER = #{boardNumber} and LIKE_WRITER = #{likeWriter}
	</select>

	<select id="replyRead" parameterType="Integer" resultType="HashMap">
		SELECT *
		FROM REPLY_INFORMATION
		WHERE BOARD_NUMBER = #{boardNumber}
	</select>

	<select id="replyInsert" parameterType="HashMap">
		INSERT INTO REPLY_INFORMATION (REPLY_NUMBER, REPLY_WRITER, REPLY_CONTENT, BOARD_NUMBER, REPLY_DATE)
		VALUES (REPLY_NUMBER.NEXTVAL, #{replyWriter},#{replyContent},#{boardNumber},TO_DATE(#{replyTime},'RRRR/MM/DD HH:MI:SS'))
	</select>

 
    <select id="onlyTextWrite" parameterType="HashMap">
        INSERT INTO BOARD_INFORMATION (BOARD_NUMBER,BOARD_TITLE,BOARD_CONTENT,BOARD_WRITER,BOARD_DATE)
        VALUES (BOARD_NUMBER.NEXTVAL, #{boardTitle},#{boardContent},#{userEmail},TO_DATE(#{boardDate},'RRRR/MM/DD HH:MI:SS'))
    </select>
    
    <select id="imgTextWrite" parameterType="HashMap">
        INSERT INTO BOARD_INFORMATION (BOARD_NUMBER,BOARD_TITLE,BOARD_CONTENT,BOARD_WRITER,BOARD_DATE,BOARD_FILE_NAME,BOARD_FILE_PATH,BOARD_FILE_SIZE,BOARD_FILE_ORIG)
        VALUES (BOARD_NUMBER.NEXTVAL, #{boardTitle},#{boardContent},#{userEmail},TO_DATE(#{boardDate},'RRRR/MM/DD HH:MI:SS'),#{boardFileName},#{boardFilePath},#{boardFileSize},#{boardFileOrig})
    </select>
    
    <select id="boardListDateASC" resultType="HashMap">
    	SELECT *
		FROM BOARD_INFORMATION  
		ORDER BY BOARD_NUMBER ASC
    </select>
    
    <select id="boardListDateDESC" resultType="HashMap">
    	SELECT *
		FROM BOARD_INFORMATION  
		ORDER BY BOARD_NUMBER DESC
    </select>
    
    <select id="boardListLikeDESC" resultType="HashMap">
    	SELECT *
		FROM BOARD_INFORMATION  
		ORDER BY LIKE_COUNT DESC
    </select>
    
    <select id="boardListLikeASC" resultType="HashMap">
    	SELECT *
		FROM BOARD_INFORMATION  
		ORDER BY LIKE_COUNT ASC
    </select>
    
    <select id="boardRead" resultType="HashMap" parameterType="Integer">
  		SELECT board.*
		FROM BOARD_INFORMATION board
		WHERE board.BOARD_NUMBER = #{boardNumber}
    </select>
    
    <select id="boardDelete" parameterType="Integer">
    	DELETE
    	FROM BOARD_INFORMATION
    	WHERE BOARD_NUMBER = #{boardNumber}
    </select>
    
    <select id="deleteBoardReply" parameterType="Integer">
    	DELETE
    	FROM REPLY_INFORMATION
    	WHERE BOARD_NUMBER = #{boardNumber}
    </select>
    
     <select id="deleteBoardLike" parameterType="Integer">
    	DELETE
    	FROM LIKE_INFORMATION
    	WHERE BOARD_NUMBER = #{boardNumber}
    </select>
    
    <select id="getBoardWriter" parameterType="Integer" resultType="String">
    	SELECT BOARD_WRITER
    	FROM BOARD_INFORMATION
    	WHERE BOARD_NUMBER = #{boardNumber}
    </select>
    
    <select id="onlyTextUpdate" parameterType="HashMap">
    	UPDATE BOARD_INFORMATION
		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT=#{boardContent}, BOARD_EDITOR=#{boardUpdateWriter},BOARD_EDIT_DATE=TO_DATE(#{boardUpdateDate},'RRRR/MM/DD HH:MI:SS')
		WHERE BOARD_NUMBER= #{boardNumber} 
    </select>
    	
     <select id="imgTextUpdate" parameterType="HashMap">
    	UPDATE BOARD_INFORMATION
		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT=#{boardContent}, BOARD_EDITOR=#{boardUpdateWriter},BOARD_EDIT_DATE=TO_DATE(#{boardUpdateDate},'RRRR/MM/DD HH:MI:SS'),
			BOARD_FILE_NAME= #{boardFileName}, BOARD_FILE_PATH=#{boardFilePath}, BOARD_FILE_SIZE=#{boardFileSize}, BOARD_FILE_ORIG =#{boardFileOrig}
		WHERE BOARD_NUMBER= #{boardNumber} 
    </select>
    
    <select id="myWriteBoardAll" parameterType="String" resultType="HashMap">
    	SELECT *
		FROM BOARD_INFORMATION
		WHERE BOARD_WRITER = #{userEmail}
		ORDER BY BOARD_NUMBER DESC
    </select>
    
     <select id="myReplyAll" parameterType="String" resultType="HashMap">
    	SELECT REPLY.* , BOARD.BOARD_TITLE
		FROM REPLY_INFORMATION REPLY, BOARD_INFORMATION BOARD
		WHERE REPLY.REPLY_WRITER = #{userEmail} AND REPLY.BOARD_NUMBER = BOARD.BOARD_NUMBER
		ORDER BY REPLY_NUMBER DESC
    </select>
    
    


</mapper>
