<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jun.meeting.Dao.UserDao">


    <select id="userSignUp" resultType="INTEGER" parameterType="HashMap">
        insert INTO user_Information
        VALUES (#{email}, #{password}, #{name}, #{birth}, #{college}, #{major}, #{phone}, #{gender}, #{signUpDate}, #{userType},#{nickName})
    </select>

    <select id="userLogin" resultType="INTEGER" parameterType="HashMap">
        select count(*)
        from user_information
        where email=#{email} and password=#{password}
    </select>

    <select id="userTypeCheck" resultType="String" parameterType="String">
        select userType
        from user_information
        where email = #{email};
    </select>

    <select id="userInformation" resultType="HashMap" parameterType="String">
        select *
        from user_information
        where email = #{userEmail};
    </select>

    <select id="userEmailDuplicateCheck" resultType="Integer" parameterType="String">
        select count(*)
        from user_information
        where email = #{userEmail};
    </select>

    <select id="userNicknameDuplicateCheck" resultType="Integer" parameterType="String">
        select count(*)
        from user_information
        where nickname = #{userNickname};
    </select>




</mapper>
